.unswersElement {
  text-decoration: none;
  list-style: none;
  margin: 0.8rem;
  padding-left: 0.8rem;
  background-color: #c8d9eb;
  border-radius: 1rem;
  box-shadow: 2px 2px 1px 1px rgb(93 88 113 / 20%);
}

.unswersElement:hover {
  cursor: pointer;
  background-color: #f5f3a0;
}

.selected {
  background-color: #f5f3a0;
}
