.mainLeaderBoard {
  background-image: url("../../../public/background.jpg");
  background-size: cover;
}

.leaderBoardContainer {
  padding: 20rem 0;
  display: grid;
  gap: 3.2rem;
  margin: 0 3.2rem;
}

.container {
  max-width: 130rem;
  margin-top: 10rem;
  padding: 2rem 2rem;
  margin: 0 auto;
  font-family: "Metropolis1920", sans-serif;
  margin: 0 auto;
  width: 80%;
  min-height: 47rem;
  background-color: #ecf2f9;
  opacity: 0.9;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  transition: opacity 1s ease 0.5s;
  box-shadow: 2px 2px 1px 1px rgb(93 88 113 / 20%);
}
.dataBNotification {
  font-size: 3.2rem;
  padding: 15rem 0rem;
  display: flex;
  justify-content: center;
}

.errorDBNotification {
  font-size: 3.2rem;
  padding: 15rem 0rem;
}
