.leaderBoardHeader {
  padding-bottom: 2.4rem;
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
}

.leaderBoardTableContainer {
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
}
.leaderBoardElement {
  display: grid;
  grid-template-columns: 100px auto 10%;
  background-color: rgb(59, 112, 158);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.leaderBoardElementIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderBoardElementMain {
  padding-left: 3rem;
}

.leaderBoardElementName {
  text-decoration: underline;
}
.leaderBoardElementPoint {
}
.leaderBoardElementPlace {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
  padding-right: 3rem;
  padding: auto 0;
}

.table {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #f0d9da;
  padding: 2.4rem;
  border-radius: 1rem;
}

.table tr {
  box-shadow: 2px 2px 1px 1px rgb(93 88 113 / 20%);
}

.table thead th {
  padding: 10px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 20px;
  text-align: center;
  color: #444441;
  border-top: 2px solid #716561;
  border-bottom: 2px solid #716561;
}
.table tbody td {
  padding: 10px;
  font-size: 2.4rem;
  line-height: 20px;
  text-align: center;
  color: #444441;
  border-bottom: 1px solid #716561;
}
