@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.notFoundContainer {
  padding-top: 20rem;
  height: calc(100vh - 10rem - 30rem);
  margin-left: 10rem;
  font-size: 3rem;
}

.notFoundTextContainer {
  display: flex;
  padding-top: calc((100vh - 20rem - 60rem) / 2);
  justify-content: center;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 53em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 35%;
  }
}
