.leadersFormContainer {
  min-height: 18rem;
}

.leadersForm {
  font-size: 3.2rem;
  padding-bottom: 6rem;
  box-shadow: 0.4rem 0.4rem 0.5rem 0.5rem rgba(93, 88, 113, 0.202);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.leadersSelect {
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
}

.chooseGameLabel {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  padding-bottom: 1.2rem;
}

.leadersForm select:hover,
.leadersForm select:focus {
  border: 1px solid #c8d9eb;
  outline: 0;
  outline-offset: 0;
}

.leadersForm select {
  border: 1px solid #743309;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 9px;
  padding: 1.2rem;
  margin-top: 1.2rem;
  width: 100%;
}

.loading {
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
}

.errorNotification {
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
}

.errorText {
  display: flex;
  justify-content: center;
}
