.mainSection {
  position: relative;
}

.mainSection::before {
  position: absolute;
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  content: " ";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  filter: brightness(150%);
}

.container {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.bestProductsMain {
  margin: 10rem 3.2rem;
}
